# Core Data Science Stack
pandas
numpy
scipy
matplotlib
seaborn
scikit-learn
statsmodels
jupyterlab
notebook
ipykernel
tqdm
pyyaml
joblib
plotly
openpyxl


# Machine Learning / Deep Learning
xgboost
lightgbm
torch
torchvision
torchaudio
transformers
datasets

# LLM & Prompt Engineering
langchain
openai

# Cloud / I/O
boto3
s3fs

# Utils
requests
python-dotenv
rich

# misc
playwright
simpy
pyomo
pygame
salabim


# Optional Interactive & Dashboarding
streamlit
gradio
